/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*************** Reset *********************/

main {
  max-width: 1100px;
  margin: 0 auto;
}

.path {
  margin-left: 22px;
  margin-top: 40px;
}

/* ------------------ INDEX/CATEGORY SIDE ------------------ */
.categories {
  display: grid;
  padding-top: 40px;
}

@media (min-width: 800px) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding-bottom: 200px;
  }
}

.h1-center {
  text-align: center;
  padding-top: 50px;
}
.categories_knap {
  background-color: #242424;
  padding: 40px;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  font-family: "Rethink Sans", serif;
  text-decoration: none;
  color: #f4f4f4;
  text-decoration: none;
  font-weight: 500;

}
.categories_knap:hover {
  background-color: #3f4f8a;
}

/* ------------------ FOOTER ------------------  */
footer {
  display: flex;
  justify-content: flex-end;
  font-family: "Rethink Sans", serif;
  gap: 4px;
  margin: 20px;
  font-size: 0.8rem;
}
footer a {
  margin-right: auto;
  width: 120px;
}

/* ------------------ HEADER/MENU ------------------  */
header {
  display: flex;
  gap: 10px;
  /* margin-left: 20px;
  margin-right: 20px; */
  margin-top: 10px;
}

header a {
  text-decoration: none;
  color: #242424;
  font-family: "Rethink Sans", serif;
}

.logo {
  width: 250px;
  margin-right: auto;
}

/* ------------------ PRODUKT ------------------  */
.product_1-1 {
  display: grid;
  padding-top: 50px;
  padding-bottom: 90px;
margin: 30px;  
}

.product_1-1{
  padding: 15px;
   border-radius: 5px;
   box-shadow: 1px 1px 8px #d6d6d7;
}

.grid_1-1 {
  display: flex;
  gap: 10px;
}

@media (min-width: 800px) {
  .product_1-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .product_1-1 img {
    padding-bottom: 30px;
  }

  .product_margin{
    margin:auto;
}
.kurv_knap {
    margin-left: auto;
    margin-right: auto;
  }

}

h1 {
  font-family: "Rethink Sans", serif;
  color: #242424;
}

h2 {
  font-family: "Jaldi", serif;
  color: #242424;
}

p {
  font-family: "Rethink Sans", serif;
  color: #242424;
}

.product_1-1 img {
  height: 550px;
  width: auto;
  margin: auto;
}

.kurv_knap {
  padding: 10px 20px;
  border-radius: 2px;
  text-align: center;
  width: 400px;
  margin-top: 80px;
  background-color: #242424;
  color: #f4f4f4;
  
}

.kurv_knap:hover {
  color: #242424;
  background-color: #b6b7b9;

  cursor: pointer;
}

.brand-category {
  color: #b6b7b9;
  font-weight: 600;
}
.description {
  font-style: italic;
}

.price {
  color: #b6b7b9;
  font-size: 1.2rem;
  padding-top: 10px;
}
.rabat {
  color: red;
  font-weight: 700;
  font-size: 1.2rem;
}

.price-m-rabat {
  font-weight: 500;
  font-size: 1.2rem;
}

.grid_1-1 {
  padding-top: 20px;
}

.option {
  font-weight: 700;
}

/* ------------------ PRODUKTLISTE ------------------  */

.grid_1-1-1-1 {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media (min-width: 800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    gap: 20px;
    padding-bottom: 50px;
  }
}

.product-item:hover {
transform: translateY(-1%);
transition: 0.2s transform;
/* linjen ovenover sætter hastigheden for hover effekten */

  ;
}

.product-item{
  padding: 15px;
   border-radius: 5px;
   box-shadow: 1px 1px 8px #d6d6d7;
}

@media (min-width: 800px) {
    .product-item {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 2;
    }
  }


  .ny_pris {
    font-weight: 500;
  }

  .price_view {
    color: #242424;
    font-weight: 600;
    padding-top: 10px;
  }

  .produkt_titel {
    font-weight: 700;
    font-family: "Rethink Sans", serif;
  }

  /*************** MENU *********************/

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative; /* Sørger for at dropdown-menuen placeres korrekt */
  }

  header .logo a {
    color: #333333;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s;
  }

  /* .logo-pic {
  width: 60px;
} */

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }

  .menu a:hover {
    color: #b6b7b9;
  }

  /******V BURGER V*********/

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 4px;
    background-color: #242424;
    margin-bottom: 5px;
    transition: 0.2s linear;
    border-radius: 2px;
  }

  .burger {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 94px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 24px;
    }
  }

